@import "base";

.skillGroup {
  width:100%;
  text-align:center;
}

.skillWrapper {
  width:24%;
  min-width:100px;
  display: inline-block;
  margin-bottom:40px;
  text-align:center;

  .skillIcon {
    width:75%;
    margin:auto;
    display:table;

    .valign {
      display:table-cell;
      vertical-align:middle;
    }
  }

  .skillIcon svg {
    vertical-align:middle;
    width:100%;
    height:auto;
    filter:gray;
    -webkit-filter: grayscale(1);
  }

  .skillTitle {
    font-weight:bold;
  }
}
