/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@import "compass/reset";
@import "base";
@import "frame";
@import "profile";
@import "myskills";
@import "cv";

$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

.cf {
  clear:both;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
  text-decoration:none;

  &:hover {
    text-decoration: underline;
  }
}

body, html {
  height:100%;
}

html {
  overflow-x:hidden;
  overflow-y: scroll;
}

body {
  background:url(../img/bg.jpg);
}

* {
  @include borderbox;
}

.center {
  text-align:center;
}
