/* line 3, ../../scss/cv.scss */
#site #content .cv_table {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
/* line 8, ../../scss/cv.scss */
#site #content .cv_table .cv_time {
  width: 100%;
  height: 40px;
  background: #ef1b3e;
  display: block;
}
/* line 14, ../../scss/cv.scss */
#site #content .cv_table .cv_time .valign {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 20, ../../scss/cv.scss */
#site #content .cv_table .cv_time .valign .middle {
  display: table-cell;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
}
/* line 34, ../../scss/cv.scss */
#site #content .cv_table .cv_desc {
  height: 100%;
  width: 100%;
  display: block;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}
/* line 42, ../../scss/cv.scss */
#site #content .cv_table .cv_desc h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 48, ../../scss/cv.scss */
#site #content .cv_table .cv_desc h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}
/* line 56, ../../scss/cv.scss */
#site #content .cv_table .cv_desc p {
  margin-bottom: 0px;
  font-size: 20px;
}
